# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
#
# SPDX-License-Identifier: BSD-3-Clause-Clear

[Unit]
Description=Mount persist partition at /var/lib/tee
Before=local-fs.target sfsconfig.service
ConditionPathExists=/dev/disk/by-partlabel/persist
After=format-tee-partition.service
Requires=format-tee-partition.service

[Mount]
DirectoryMode=0755
What=/dev/disk/by-partlabel/persist
Where=/var/lib/tee
Type=ext4
